/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/bin/
/.settings/
/.project
/.classpath
/.idea/
/resources/public/js/
/figwheel_server.log
/node_modules
